@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

body._lock {
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  overflow: hidden;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.header__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  width: 100%;
}
.header__link {
  color: #ffffff;
  font-size: 29px;
  font-weight: 500;
}
.header__link:hover {
  text-decoration: underline;
}
.search {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__form {
  width: 100%;
  background-color: #fcc302;
  border-right: none;
  padding: 5%;
  font-size: 21px;
  letter-spacing: 0.21px;
}
.search__form::-webkit-input-placeholder {
  color: #fff;
}
.search__form::-moz-placeholder {
  color: #fff;
}
.search__form:-ms-input-placeholder {
  color: #fff;
}
.search__form::-ms-input-placeholder {
  color: #fff;
}
.search__form::placeholder {
  color: #fff;
}
.search__button {
  width: 50%;
  background-color: #00bec9;
  cursor: pointer;
}

@media (min-width: 1023px) {
  .header {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: #daac00;
    height: 120px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 1023px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 5;
  }
  .header__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 5;
  }
  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: auto;
  }
  .header__search {
    display: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon span,
.header__icon:before,
.header__icon:after {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__icon:before,
.header__icon:after {
    content: "";
  }
  .header__icon:before {
    top: 0;
  }
  .header__icon:after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
  .header__icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }
  .header__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .header__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .header__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    overflow: auto;
  }
  .header__body._active {
    left: 0;
  }
  .header__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #daac00;
    z-index: 2;
  }
  .header__list {
    margin: 10% 0 0 0;
    text-align: center;
  }
  .header__list li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 10% 0;
  }
  .header__list li:last-child {
    margin-bottom: 0;
  }
  .header__link {
    font-size: 50px;
  }
}
.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30%;
  text-align: center;
}
.screen__title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.67px;
  margin: 0 0 2% 0;
}
.screen__text {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0.29px;
}
.screen__contact {
  margin: 7% 0;
}
.screen__link1 {
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 0.21px;
  font-weight: 600;
  background-color: #00bec9;
  border: 3px #00bec9 solid;
  border-radius: 7px;
  padding: 2% 3.5%;
}
.screen__link2 {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.21px;
  border: 3px #ffffff solid;
  border-radius: 7px;
  padding: 2% 3.5%;
  margin: 0 0 0 3%;
}
@media (min-width: 750px) {
  .screen {
    padding-top: 15%;
  }
  .screen__title {
    font-size: 47px;
    font-weight: 600;
    letter-spacing: 0.67px;
  }
}
@media (min-width: 934px) {
  .screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10%;
    text-align: left;
  }
  .screen__title {
    font-size: 67px;
    font-weight: 600;
    letter-spacing: 0.67px;
    margin: 0 0 5% 0;
  }
  .screen__text {
    font-size: 29px;
  }
  .screen__block {
    max-width: 690px;
  }
}
.page-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 800px;
          flex: 1 0 800px;
}
.page-info__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-info__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 1% 0 0;
}
.page-info__title {
  color: #313243;
  font-size: 50px;
  font-weight: 600;
  margin: 0 0 8% 0;
}
.page-info__text {
  color: #313243;
  font-size: 29px;
  letter-spacing: 0.29px;
  padding: 0 10% 0 0;
  margin: 0 0 12% 0;
}
.page-info__button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.21px;
  background-color: #fcc302;
  padding: 3% 4.5%;
  border-radius: 7px;
}
.page-info__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  height: 35vw;
  display: block;
  position: relative;
}
.page-info__image:hover .page-info__logo,
.page-info__image:hover .page-info__logo2 {
  opacity: 1;
  visibility: visible;
}
.page-info__link {
  height: 100%;
  display: block;
  position: relative;
}
.page-info__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  background-color: rgba(252, 195, 2, 0.5);
  opacity: 0;
  visibility: hidden;
}
.page-info__logo2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
}
.page-info__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-info__img1 {
  position: absolute;
  bottom: -7%;
  left: -7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 450px) {
  .page-info__image {
    margin-top: 7%;
  }
}
@media (max-width: 934px) {
  .page-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 1000px;
            flex: 1 0 1000px;
  }
  .page-info__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    padding: 0;
    margin: 0;
  }
  .page-info__title {
    font-size: 35px;
    margin: 0 0 4% 0;
  }
  .page-info__text {
    font-size: 25px;
    padding: 0;
    margin: 0 0 7% 0;
  }
  .page-info__wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-info__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    width: 80%;
    max-height: 50%;
  }
}
.page-favor {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vh;
          flex: 1 0 100vh;
  background-color: #fcc302;
}
.page-favor__block {
  width: 100%;
  padding: 7% 0;
  text-align: center;
}
.page-favor__title {
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  margin: 0 0 3% 0;
}
.page-favor__text {
  color: #ffffff;
  font-size: 33px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 2% 0;
}
.page-favor__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 30% 5% 30% 5% 30%;
      grid-template: 1fr/30% 30% 30%;
  gap: 5%;
}
.page-favor__img {
  width: 100%;
  height: 100%;
}

.veterinarian__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.veterinarian__subtitle {
  color: #ffffff;
  font-weight: 600;
  font-size: 38px;
  margin: 10% 0 5% 0;
}
.veterinarian__text {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin: 0 0 25% 0;
}

@media (max-width: 934px) {
  .page-favor__title {
    font-size: 47px;
  }
  .page-favor__text {
    font-size: 25px;
  }
  .veterinarian__subtitle {
    font-size: 30px;
  }
  .veterinarian__text {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .page-favor__container {
    -ms-grid-rows: 1fr 3% 1fr 3% 1fr;
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 1fr)/1fr;
    gap: 3%;
  }
  .veterinarian__text {
    margin: 0;
  }
  .veterinarian:last-child {
    margin: 0 0 15% 0;
  }
}
.page-info2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 800px;
          flex: 1 0 800px;
}
.page-info2__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-info2__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 0 0 1%;
  text-align: end;
}
.page-info2__title {
  color: #313243;
  font-size: 50px;
  font-weight: 600;
  margin: 0 0 8% 0;
}
.page-info2__text {
  color: #313243;
  font-size: 29px;
  letter-spacing: 0.29px;
  padding: 0 0 0 10%;
  margin: 0 0 12% 0;
}
.page-info2__button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.21px;
  background-color: #fcc302;
  padding: 3% 4.5%;
  border-radius: 7px;
}
.page-info2__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  height: 35vw;
  display: block;
  position: relative;
}
.page-info2__image:hover .page-info2__logo,
.page-info2__image:hover .page-info2__logo2 {
  opacity: 1;
  visibility: visible;
}
.page-info2__link {
  height: 100%;
  display: block;
  position: relative;
}
.page-info2__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  background-color: rgba(252, 195, 2, 0.5);
  opacity: 0;
  visibility: hidden;
}
.page-info2__logo2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
}
.page-info2__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-info2__img1 {
  position: absolute;
  bottom: -7%;
  right: -7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 450px) {
  .page-info2__image {
    margin-top: 7%;
  }
}
@media (max-width: 934px) {
  .page-info2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 1000px;
            flex: 1 0 1000px;
  }
  .page-info2__block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    text-align: center;
  }
  .page-info2__title {
    font-size: 35px;
    margin: 0 0 4% 0;
  }
  .page-info2__text {
    font-size: 25px;
    padding: 0;
    margin: 0 0 7% 0;
  }
  .page-info2__wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-info2__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    width: 80%;
    max-height: 50%;
    margin-bottom: 7%;
  }
}
.page-prise {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vh;
          flex: 1 0 100vh;
  background-color: #fcc302;
}
.page-prise__block {
  width: 100%;
  padding: 7% 0;
  text-align: center;
}
.page-prise__title {
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  margin: 0 0 3% 0;
}
.page-prise__text {
  color: #ffffff;
  font-size: 33px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 2% 0;
}
.page-prise__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 30% 5% 30% 5% 30%;
      grid-template: 1fr/30% 30% 30%;
  gap: 5%;
}
.page-prise__img {
  width: 100%;
  height: 100%;
}

.bield__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bield__subtitle {
  color: #ffffff;
  font-weight: 600;
  font-size: 38px;
  margin: 10% 0 5% 0;
}
.bield__subtitle span {
  text-decoration: line-through;
}
.bield__text {
  width: 100%;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin: 10% 0 30% 0;
}
.bield__link {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  background-color: #00bec9;
  padding: 3% 10%;
  border-radius: 30px;
}

@media (max-width: 934px) {
  .page-prise__title {
    font-size: 47px;
  }
  .page-prise__text {
    font-size: 25px;
  }
  .bield__subtitle {
    font-size: 30px;
  }
  .bield__text {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .page-prise__container {
    -ms-grid-rows: 1fr 3% 1fr 3% 1fr;
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 1fr)/1fr;
    gap: 3%;
  }
  .bield__text {
    margin: 0;
  }
  .bield:last-child {
    margin: 0 0 15% 0;
  }
}
.page-command {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vh;
          flex: 1 0 100vh;
}
.page-command__block {
  width: 100%;
  padding: 7% 0;
  text-align: center;
}
.page-command__title {
  color: #313243;
  font-size: 75px;
  font-weight: 700;
  margin: 0 0 3% 0;
}
.page-command__text {
  color: #313243;
  font-size: 33px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 2% 0;
}
.page-command__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 32% 2% 32% 2% 32%;
      grid-template: 1fr/32% 32% 32%;
  gap: 2%;
}
.page-command__img {
  width: 100%;
  height: 100%;
}

.team__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.team__subtitle {
  color: #313243;
  font-size: 29px;
  font-weight: 700;
  margin: 10% 0 0 0;
}
.team__text {
  width: 100%;
  color: #313243;
  font-size: 25px;
  text-align: center;
  margin: 6% 0 10% 0;
}
.team__social {
  width: 100%;
  text-align: center;
  margin: 0 0 25% 0;
}
.team__link {
  margin: 0 2%;
}
.team__link img {
  border-radius: 35px;
  height: 35px;
}

@media (max-width: 934px) {
  .page-command__title {
    font-size: 47px;
  }
  .page-command__text {
    font-size: 25px;
  }
  .team__subtitle {
    font-size: 30px;
  }
  .team__text {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .page-command__container {
    -ms-grid-rows: 1fr 3% 1fr 3% 1fr;
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 1fr)/1fr;
    gap: 3%;
  }
  .team__text {
    margin-bottom: 5%;
  }
  .team:last-child {
    margin: 0 0 15% 0;
  }
  .team__social {
    margin-bottom: 5%;
  }
}
.foto {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 570px;
          flex: 1 0 570px;
  position: relative;
}
.foto__full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.foto:hover .foto__items {
  visibility: visible;
  opacity: 1;
}
.foto__items {
  height: 100%;
  background-color: rgba(252, 195, 2, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.foto__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foto__amount {
  color: #ffffff;
  font-size: 42px;
  font-weight: 500;
  margin: 25% 0 10% 0;
}
.foto__text {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
}

@media (max-width: 934px) {
  .foto__amount {
    font-size: 35px;
  }
  .foto__text {
    font-size: 33px;
  }
}
@media (max-width: 750px) {
  .foto__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foto__amount {
    margin: 5% 0 3% 0;
  }
}
.page-recent {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vh;
          flex: 1 0 100vh;
}
.page-recent__block {
  width: 100%;
  padding: 7% 0;
  text-align: center;
}
.page-recent__title {
  color: #313243;
  font-size: 75px;
  font-weight: 700;
  margin: 0 0 3% 0;
}
.page-recent__text {
  color: #313243;
  font-size: 33px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 2% 0;
}
.page-recent__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 31% 3% 31% 3% 31%;
      grid-template: 1fr/31% 31% 31%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
}
.page-recent__img {
  width: 100%;
  height: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  border: 2px #d6d6d6 solid;
  margin-bottom: 30%;
}
.card__block:hover {
  border: 0;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.card__subtitle {
  color: #313243;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5%;
}
.card__time {
  color: #00bec9;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 7%;
}
.card__text {
  color: #313243;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 7%;
}
.card__link {
  color: #00bec9;
  font-size: 21px;
  font-weight: 500;
}

@media (max-width: 934px) {
  .page-recent__title {
    font-size: 47px;
  }
  .page-recent__text {
    font-size: 25px;
  }
  .card__subtitle {
    font-size: 30px;
  }
  .card__text {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .page-recent__container {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr 1fr/1fr;
  }
  .card__block {
    margin-bottom: 0;
  }
  .card:last-child {
    margin: 0 0 15% 0;
  }
}
.footer {
  background-color: #343434;
  height: 650px;
  padding: 5% 0;
}
.footer__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}
.footer__menu {
  height: 100%;
}
.footer__here {
  height: 100%;
}

.menu__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3%;
}
.menu__title {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
}
.menu__arrow {
  display: none;
}
.menu__link {
  color: #ffffff;
  font-size: 25px;
  line-height: 44.05px;
}
.menu__link:hover {
  text-decoration: underline;
}

.here {
  text-align: end;
}
.here__title {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
}
.here__text {
  color: #ffffff;
  font-size: 25px;
  line-height: 33.33px;
  margin: 3% 0 10% 0;
}
.here__messedg {
  margin: 0 0 7% 0;
}
.here__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.here__list li {
  margin: 0 2%;
}
.here__list li:last-child {
  margin: 0 0 0 2%;
}
.messedg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.messedg__form {
  width: 100%;
  background-color: #fcc302;
  border-right: none;
  padding: 5% 3%;
  font-size: 30px;
}
.messedg__button {
  width: 40%;
  background-color: #00bec9;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 750px) {
  .footer {
    height: auto;
  }
  .footer__block {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .menu__footer {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__footer > li {
    position: relative;
    text-decoration: underline;
    color: #fff;
  }
  .menu__footer li:first-child {
    margin-bottom: 3%;
  }
  .menu__list li:last-child {
    margin: 0;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
  .here {
    text-align: center;
  }
  .here__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10%;
  }
  .menu__list {
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    width: 200px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  body._touch .menu__footer > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body._touch .menu__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  body._touch .menu__footer > li._active .menu__list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    pointer-events: all;
    z-index: 3;
  }
}
body._pc .menu__footer > li:hover .menu__list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
  z-index: 2;
}